.calendar {
	background-1: #ac725e;
	background-2: #d06b64;
	background-3: #f83a22;
	background-4: #fa573c;
	background-5: #ff7537;
	background-6: #ffad46;
	background-7: #42d692;
	background-8: #16a765;
	background-9: #7bd148;
	background-10: #b3dc6c;
	background-11: #fbe983;
	background-12: #fad165;
	background-13: #92e1c0;
	background-14: #9fe1e7;
	background-15: #9fc6e7;
	background-16: #4986e7;
	background-17: #9a9cff;
	background-18: #b99aff;
	background-19: #c2c2c2;
	background-20: #cabdbf;
	background-21: #cca6ac;
	background-22: #f691b2;
	background-23: #cd74e6;
	background-24: #a47ae2;
}

.event {
	background-1: #a4bdfc;
	background-2: #7ae7bf;
	background-3: #dbadff;
	background-4: #ff887c;
	background-5: #fbd75b;
	background-6: #ffb878;
	background-7: #46d6db;
	background-8: #e1e1e1;
	background-9: #5484ed;
	background-10: #51b749;
	background-11: #dc2127;
}

